# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [5]:
users = pd.read_csv(r"https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep="|")
users.head(5)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [ ]:
users.groupby("occupation").age.mean()

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [10]:
users["gender_to_n"] = users["gender"].apply(lambda x: 1 if x == 'M' else 0)

#return a 0~100 ratio
ratio = users.groupby("occupation").gender_to_n.sum() / users.occupation.value_counts() * 100

ratio.sort_values(ascending=False)

occupation
doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [ ]:
users.groupby("occupation").age.agg(["min", "max"])

### Step 7. For each combination of occupation and gender, calculate the mean age

In [ ]:
users.groupby(["occupation", "gender"]).age.mean()

### Step 8.  For each occupation present the percentage of women and men

In [23]:
gender_counts = users.groupby(['occupation', 'gender']).size().unstack()

total_per_occupation = gender_counts.sum(axis=1)

percentage = gender_counts.div(total_per_occupation, axis=0) * 100

percentage

gender                 F           M
occupation
administrator  45.569620   54.430380
artist         46.428571   53.571429
doctor               NaN  100.000000
educator       27.368421   72.631579
engineer        2.985075   97.014925
entertainment  11.111111   88.888889
executive       9.375000   90.625000
healthcare     68.750000   31.250000
homemaker      85.714286   14.285714
lawyer         16.666667   83.333333
librarian      56.862745   43.137255
marketing      38.461538   61.538462
none           44.444444   55.555556
other          34.285714   65.714286
programmer      9.090909   90.909091
retired         7.142857   92.857143
salesman       25.000000   75.000000
scientist       9.677419   90.322581
student        30.612245   69.387755
technician      3.703704   96.296296
writer         42.222222   57.777778